{{!-- <h2>Show {{this.name}}</h2> --}}

{{!-- <div>
    <span>Name: {{this.name}}</span> <br>
    <span>Occupation: {{this.occupation}}</span> <br>
    <span>Chatch Phrase: {{this.catchPhrase}}</span> <br>
    <hr>
</div>  --}}


<div>
    {{> _celebrityPartial this}}
    <a href="/celebrity/edit/{{celebrity._id}}">Edit</a> 
</div>
