<div>
    <span>{{this.name}}</span>
    <form action="/celebrities/{{this._id}}/delete" method="post"><button type="submit">Delete</button></form>
</div> 

{{!-- <div>
    <h1>Name: {{celebrity.name}}</h1>
    <p>Occupation: {{celebrity.occupation}}</p>
    <p>Catch Phrase: {{celebrity.catchPhrase}}</p>
</div> --}}